body
{
    background-color: rgb(30, 40, 69);
}

.card 
{
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover 
{
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(255, 252, 252, 0.81);
}

#cart-page .card:hover 
{
    transform: none;
    box-shadow: none;
}

.card img 
{
    width: 100%;
    height: 180px;        
    object-fit: contain;  
    padding: 5px;         
}


.cart-wrapper 
{
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}


#cart-page .card 
{
    border: none;
    background-color: #f8f9fa;
    border-radius: 10px;
}


#cart-page img 
{
    border-radius: 10px;
}


#cart-page h2 
{
    font-weight: 600;
    margin-bottom: 25px;
}


#cart-page h4 
{
    font-weight: 600;
}

body 
{
    background-color: #b6d3ff;
}


